/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2015, 05:18:30 PM
    Author     : David
*/
.ui-panelgrid tr, .ui-panelgrid td{
    border:none !important;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 40%;
}

html{
    background-image: url(images/babel1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}